*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(255, 255, 255);
  --dark-color-text: rgb(73, 26, 26);

  --red-light: rgb(255, 227, 230);
  --red-accent: rgb(198, 71, 71);
  --red-accent-light: rgba(211, 47, 47, 0.702);

  --teal-light: rgb(178, 223, 219);
  --teal-accent: rgb(0, 150, 136);
  --teal-accent-light: rgba(0, 150, 135, 0.702);

  --indigo-light: rgb(197, 202, 233);
  --indigo-accent: rgb(94 113 218);
  --indigo-accent-light: rgba(83, 109, 254, 0.702);

  --box-shadow-black: 0px 3px 12px 5px #00000021;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Outfit', sans-serif;
  color: var(--dark-color-text);
}
