*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(255, 255, 255);
  --dark-color-text: rgb(73, 26, 26);

  --red-very-light: rgba(198, 71, 71, 0.21);
  --red-light: rgb(198, 71, 71, 0.77);
  --red-dark: rgb(198, 71, 71);

  --teal-very-light: rgba(0, 150, 136, 0.21);
  --teal-light: rgba(0, 150, 136, 0.77);
  --teal-dark: rgb(0, 150, 136);

  --indigo-very-light: rgba(94, 113, 218, 0.21);
  --indigo-light: rgba(94, 113, 218, 0.77);
  --indigo-dark: rgb(94, 113, 218);

  --box-shadow-black: 0px 3px 12px 5px #00000021;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Outfit', sans-serif;
  color: var(--dark-color-text);
}
